apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: davp-demo38-1
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/tsscdavp/ssm-demo38-1:azure-5c982297fe0e861598cfe403f908a01b9526b209
          name: container-image
